ul {
    list-style-type: none;
}

form {
    width: fit-content;
}

input[type=submit] {
    position: relative;
    float: right;
    top: 15px;
    left: 80px;
}

#best {
    position: absolute;
    top: 2%;
    right: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

#author {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

#score_container {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    text-align: center;
    height: 2rem;
}

#score {
    font-size: inherit;
    display: inline;
}

#score_container a {
    font-family: monospace;
    display: inline;
    font-size: inherit;
    text-decoration: none;
}

#score_container button {
    /* height: 100%; */
    display: inline;
    position: relative;
    top: -15%;
    margin-left: 15px;
    font-size: 1.5rem;
}